/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 1px;
    padding-left: 1px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:1px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}




.footer {
    background: -webkit-linear-gradient(#fff, #e5e8ef, #ADBDC5);
    background: -o-linear-gradient(#fff, #e5e8ef, #ADBDC5);
    background: -moz-linear-gradient(#fff, #e5e8ef, #ADBDC5);
    background: linear-gradient(#fff, #e5e8ef, #ADBDC5);
    min-height: 10px;
}

.well {
    min-height: 20px;
    padding: 1px;
    margin-bottom: 1px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1;
}


.well2 {
    min-height: 10px;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #ECF0F5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

table label {
    font-weight: inherit;
    margin: 0px 0px 0px 0px;
}
label {
    margin-bottom: 1px;
    font-size: 90% !important;
}

tbody tr td{
	padding: 5px !important;
   /* line-height: 2 !important;*/
}

thead tr th{
	padding: 5px !important;
    /*line-height: 1.1 !important;*/
	vertical-align: middle !important;
}

tbody tr.selected{
	background-color: #31708f!important;
	/*ackground-color: #AAAAAA!important;*/
	color: white; 	
}

.table th {
	background-color: #717171;
    color: white;
	text-align: center;
	vertical-align: middle !important;
	 margin: 0px 0px 0px 0px !important;
	/* line-height: 1.6 !important;*/
}


.table {
	font-size:14px  !important;
}



#contextMenu {
  position: absolute;
  display:none;
}

.context-menu-hover{
	background-color: #31708f!important;
	/*background-color: #AAAAAA!important;*/
	color: white; 	
}

#span_text, #pre {
	font-size:13px;
	white-space: normal;
}
    
#span_text, pre {
	color:#333;
	font-Family:"Lucida Console", "Courier New", Courier, Fixedsys;
	line-height:170%;
}

#span_text a {
	text-decoration:underline;
	color:#CE0000;
}

#span_text s, #span_text b {
	color:#0000FF;
	font-Family:"Lucida Console", "Courier New", Courier, Fixedsys;
	font-weight:normal;
}

#span_text b s, b pre {
	color:#0000FF;
}

.v, .v pre {
	color:#006600;
}

#span_text s, s pre {
	color:#333;
	text-decoration:line-through;
}

#span_text .v s {
	color:#006600;
	text-decoration:line-through;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    cursor: pointer;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.alert {
    margin-bottom: -1px !important;
}      
